@import url('https://fonts.cdnfonts.com/css/helvetica-neue-400');
@import url('https://fonts.cdnfonts.com/css/typo-grotesk');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Poppins:wght@600&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
}

.container-40 {
    max-width: 40% !important;
    margin: 0 auto;
}

.container-60 {
    max-width: 60% !important;
    margin: 0 auto;
}

.container-75 {
    max-width: 75% !important;
    margin: 0 auto;
}

.container-80 {
    max-width: 80% !important;
    margin: 0 auto;
}

.container-85 {
    max-width: 85% !important;
    margin: 0 auto;
}

.container-90 {
    max-width: 90% !important;
    margin: 0 auto;
}

.container-95 {
    max-width: 95% !important;
    margin: 0 auto;
}

.container-98 {
    max-width: 98% !important;
}

.container-100 {
    max-width: 100% !important;
}


/* home css start  */
/* section css start */

.car-details h3 {
    color: #000;
    /* font-family: Open Sans; */
    font-size: 22px;
    font-weight: 700;
}

.car-details p {
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
}

.looking-car {
    background: url('../image/looks.png'), lightgray 100% / cover no-repeat;
    background-position: center;
}

.look-content {
    padding-top: 100px;
}

.look-content h3 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
}

.look-content p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.look-content button {
    height: 50px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background: #FC6703;
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}

.sell-look {
    background: #FC6703;
}

.sell-look .look-content button {
    height: 50px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background: #FFF;
    border: none;
    color: #FC6703;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}

.new-arrival {
    padding: 50px 0px;
}

.new-arrival p {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.new-arrival h2 {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}
.new-arrival .line-1{
    width: 12%;
    margin: 0 auto;
    border: 1px solid #FC6703;
}
.new-arrival .line-2{
    width: 8%;
    margin: 10px auto;
    border: 1px solid #FC6703;
}
/* home css end  */